
<nav class=" navbar navbar-expand-lg navbar-light vertical-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="col-md-12 dashboard_form" id="navbarSupportedContent">
  
  
      <br>
        <a href="#" class="active text-white"routerLink="/">Home</a>
        <a href="#" class="text-white" routerLink="/liste-declaration">Declarations</a>
        <a href="#" class="text-white"  routerLink="/payements">Paiements</a>
        <a href="#" class="text-white">Services</a>
        <a href="#" class="text-white" routerLink="/listsalaires">Gestion des salaries</a>
  
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </nav>
  
  
  
