<section class="large">
    <app-menu></app-menu>

</section>
<div class="container">
<div class="js-canvas__body canvas__body">
    <!-- partie pour ecrire le titre du produit -->
    <div class="context-header ">
        <div class="grid-container  ">
            <nav class="breadcrumbs h-text-truncate ">
                <a href="/">Home</a>


                <a href="/category/all">Files</a>

                <a href="https://themeforest.net/category/site-templates">Site Templates</a>

                <a href="https://themeforest.net/category/site-templates/corporate">Corporate</a>

            </nav>


            <div class="item-header" data-view="itemHeader">
                <div class="item-header__top">
                    <div class="item-header__title">
                        <h1 class="t-heading -color-inherit -size-l h-m0 is-hidden-phone">
                            Canvas | The Multi-Purpose HTML5 Template
                        </h1>

                        <!-- <h1 class="t-heading -color-inherit -size-xs h-m0 is-hidden-tablet-and-above">
            Canvas | The Multi-Purpose HTML5 Template
          </h1> -->
                    </div>

                    <div class="item-header__price">
                        <a class="js-item-header__cart-button e-btn--3d -color-primary -size-m" rel="nofollow"
                            title="Add to Cart" data-view="modalAjax"
                            href="/cart/configure_before_adding/9228123?license=regular&amp;support=bundle_6month">
                            <span class="item-header__cart-button-icon">
                                <i class="e-icon -icon-cart -margin-right"></i>
                            </span>
                            <span class="t-heading -size-m -color-light -margin-none">
                                <b class="t-currency"><span class="js-item-header__price"></span></b>
                            </span>
                        </a> </div>
                </div>

            </div>



            <!-- Desktop Item Navigation -->
            <!-- <div class="is-hidden-tablet-and-below page-tabs">
          <ul>
              <li class="selected"><a class="t-link -decoration-none" href="/item/canvas-the-multipurpose-html5-template/9228123">Item Details</a></li>
              <li><a class="t-link -decoration-none" href="/item/canvas-the-multipurpose-html5-template/reviews/9228123">Reviews</a></li>
              <li><a class="t-link -decoration-none" href="/item/canvas-the-multipurpose-html5-template/9228123/comments">Comments</a></li>
              <li><a class="t-link -decoration-none" href="/item/canvas-the-multipurpose-html5-template/9228123/support">Support</a></li>
          </ul>
    
      </div> -->


            <!-- Table or below Item Navigation -->
            <div class="page-tabs--dropdown" data-view="replaceItemNavsWithRemote" data-target=".js-remote">
                <div class="page-tabs--dropdown__slt-custom-wlabel">
                    <div class="slt-custom-wlabel--page-tabs--dropdown">
                        <label>
                            <span class="js-label">
                                Item Details
                            </span>
                            <span class="slt-custom-wlabel__arrow">
                                <i class="e-icon -icon-arrow-fill-down"></i>
                            </span>
                        </label>

                        <!-- <select class="js-remote">
                  <option selected="selected" data-url="/item/canvas-the-multipurpose-html5-template/9228123">Item Details</option>
                  <option data-url="/item/canvas-the-multipurpose-html5-template/reviews/9228123">Reviews</option>
                  <option data-url="/item/canvas-the-multipurpose-html5-template/9228123/comments">Comments</option>
                  <option data-url="/item/canvas-the-multipurpose-html5-template/9228123/support">Support</option>
    
    
              </select> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- fin partie pour le titre du produit -->


    <!-- corps de le page -->



    
    <div class="content-main" id="content">
        <div class="grid-container">
            <link href="https://s3.envato.com/files/259916787/small-5-black.jpg">

            <div class="content-s">
                <!-- partie contenant l'image du produit -->
                <div class="box--no-padding">
                    <div class="item-preview -preview-live">
                        <a target="_blank"
                            href="https://themeforest.net/item/canvas-the-multipurpose-html5-template/full_screen_preview/9228123?_ga=2.109787781.1239153694.1566574405-28862467.1565870719">
                            <img alt="Canvas | The Multi-Purpose HTML5 Template - Corporate Site Templates"
                                srcset="https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=8000&amp;max-w=590&amp;s=fac393d69c8a21b75ab9386c1dfea8eb 590w, https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=6780&amp;max-w=500&amp;s=c69881262d674e92952fb67d7eb6e74e 500w, https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=5424&amp;max-w=400&amp;s=664b1323da9c1d700a6c38613fb85f6b 400w, https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=4068&amp;max-w=300&amp;s=85b25d93d650c349f7408526f5301ef5 300w"
                                sizes="(min-width: 1024px) 590px, (min-width: 1px) 100vw, 600px"
                                src="https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=8000&amp;max-w=590&amp;s=fac393d69c8a21b75ab9386c1dfea8eb">
                        </a>

                        <div class="item-preview__actions">
                            <div id="fullscreen" class="item-preview__preview-buttons">
                                <a href="/item/canvas-the-multipurpose-html5-template/full_screen_preview/9228123"
                                    role="button" class="btn-icon live-preview" target="_blank"
                                    rel="noopener nofollow">Live Preview
                                </a>
                            </div>
                            <div class="item-preview__preview-buttons--social" data-view="socialButtons">
                                <div class="btn-group">
                                    <div class="btn btn--label btn--group-item">Share</div>
                                    <a class="btn btn--group-item" data-social-network="Facebook"
                                        data-social-network-link=""
                                        href="https://www.facebook.com/sharer/sharer.php?display=popup&amp;u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharefb"><i
                                            class="e-icon -icon-facebook -size-medium -line-height-small"><span
                                                class="e-icon__alt">Facebook</span></i></a>
                                    <a class="btn btn--group-item" data-social-network="Google Plus"
                                        data-social-network-link=""
                                        href="https://plus.google.com/share?url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharegp"><i
                                            class="e-icon -icon-google-plus -size-medium -line-height-small"><span
                                                class="e-icon__alt">Google Plus</span></i></a>
                                    <a class="btn btn--group-item" data-social-network="Twitter"
                                        data-social-network-link=""
                                        href="https://twitter.com/intent/tweet?text=Check+out+%27Canvas+%7C+The+Multi-Purpose+HTML5+Template%27+on+%23EnvatoMarket+by+%40__SemiColon+%23themeforest&amp;url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharetw"><i
                                            class="e-icon -icon-twitter -size-medium -line-height-small"><span
                                                class="e-icon__alt">Twitter</span></i></a>
                                    <a class="btn btn--group-item" data-social-network="Pinterest"
                                        data-social-network-link=""
                                        href="http://pinterest.com/pin/create/button?description=Canvas+%7C+The+Multi-Purpose+HTML5+Template&amp;media=http%3A%2F%2Fs3.envato.com%2Ffiles%2F265736259%2F01_preview.__large_preview.jpg&amp;url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharepi"><i
                                            class="e-icon -icon-pinterest -size-medium -line-height-small"><span
                                                class="e-icon__alt">Pinterest</span></i></a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!--  fin partie contenant l'image du produit -->

                <!-- debut pertie bouton contenant les collections -->
                <ul class="item-bookmarking" data-view="bookmarkStatesLoader">
                    <li class="item-bookmarking__control--favorite">
                        <span class="js-favorite-widget is-initialized" data-item-id="9228123">
                            <a class="js-favorite-add" title="Add to Favorites" rel="nofollow" data-method="post"
                                data-remote="true" href="/favorites?item_id=9228123">
                                <span>Add to Favorites</span>
                            </a>
                        </span>

                    </li>

                    <li class="item-bookmarking__control--collection">
                        <span class="js-collection-widget is-initialized" data-item-id="9228123">
                            <a title="Add to Collection" rel="nofollow" data-view="modal"
                                data-bind="item-collected-status:9228123" href="/bookmarks/widget?item_id=9228123">
                                <span>Add to Collection</span>
                            </a>
                        </span>

                    </li>
                </ul>
                <!-- fin partie collection -->

                <!-- debut  partie description de l'article -->
                <div class="">

                    <div class="js-item-description item-description has-toggle">
                        <div class="user-html user-html__with-lazy-load">
                            <p><a href="https://www.facebook.com/semicolonweb/" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/d89884363791370a692ce7f8f52c1851590a3028/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77352e706e67"></a><a
                                    href="https://twitter.com/__SemiColon" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/9c91e6e6c3a71f68c389136562b1c7ac87334f96/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77322e706e67"></a><a
                                    href="https://www.instagram.com/semicolonweb" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/72dd95e8d8200caaa8922e16ec03cd309d0749d4/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77332e706e67"></a><a
                                    href="https://themeforest.net/user/SemiColonWeb/follow"><img alt="button"
                                        src="https://camo.envatousercontent.com/3f78745b4ab5afbab16ebefc55c50175c45daa79/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77342e706e67"></a>
                            </p>
                            <!-- debut description de l'article -->
                            <p><strong>Canvas</strong> is a Powerful, <strong>Responsive</strong> &amp; Raw
                                Multi-Purpose Multi-Page &amp; One-Page HTML5 Template. Build whatever you like with
                                this Template. Be it Business, Corporate, Medical, SEO, Travel, Construction, Real
                                Estate, Media Agency, CoWorking, Recipes, Articles, Packers &amp; Movers, Photography,
                                News, Non-Profit, Conference, Courses, Rentals, Hosting, Gym, Music, Barber, CV/Resume,
                                Cafe, Spa, Pets, Portfolio, Agency, Magazine, Parallax, Wedding, Christmas, Restaurant,
                                Blog or App Showcase, just everything is possible with <strong>Canvas</strong>. We have
                                included 100+ ready-to-use Homepages &amp; 900+ HTML Files with the Package, it is this
                                huge. Amazing flexibility, Dark Scheme, Super Shortcodes, Raw Bootstrap &amp; Scalable
                                Responsive Features makes <strong>Canvas</strong> standout from the crowd. Try out the
                                demo.</p>
                                <!-- fin descriptio de l'article -->

                            <!-- <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html" rel="nofollow"><img
                                        alt="Version 5.9"
                                        src="https://camo.envatousercontent.com/54b1b1201dcc033b27217e37d0dbedfb04dd1891/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f64656d6f73352e392e6a7067">
                                </a>
                            </p> -->

                            <!-- <p>
                                <img alt="44000+ Sales"
                                    src="https://camo.envatousercontent.com/f4d1419a4e708bbef7ded3af0c2595bb5b30b45f/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f34343030302b2e6a7067">
                            </p> -->

                            <!-- <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html" rel="nofollow"><img
                                        alt="bootstrap-4"
                                        src="https://camo.envatousercontent.com/c545b4e513f6619b06dc0d605e14822bce86937d/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f626f6f7473747261702d342e302e6a7067">
                                </a>
                            </p>

                            <p>
                                <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" rel="nofollow">
                                    <img alt="youtube video"
                                        src="https://camo.envatousercontent.com/ec6343f5f1cf5be72fae172f28d7dfbac2802596/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f696e74726f2d6e65772e6a7067">
                                </a>
                            </p>

                            <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html" rel="nofollow">
                                    <img alt="Elements"
                                        src="https://camo.envatousercontent.com/c3c4216992e504a312e68c7540c955b560873198/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f656c656d656e7473332e6a7067">
                                </a>
                            </p>

                            <p>
                                <a href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fthemes.semicolonweb.com%2Fhtml%2Fcanvas%2Fintro.html&amp;tab=mobile"
                                    rel="nofollow"><img alt="Speed Test"
                                        src="https://camo.envatousercontent.com/32496a51847d1eb272d3a9902e59da7b61d9b38e/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f7370656564746573742e6a7067"></a>
                            </p>

                            <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html" rel="nofollow"><img
                                        alt="Library"
                                        src="https://camo.envatousercontent.com/979fd9bb15cf755d145c00f1e8834962a225c894/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6d656469612d6c6962726172792e6a7067"></a>
                            </p>

                            <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html" rel="nofollow"><img
                                        alt="Niche Demos"
                                        src="https://camo.envatousercontent.com/4ef8fa864b3bdee447fb5193f6506777012a970a/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6e696368652d64656d6f732d6e65772e6a7067"></a>
                            </p>

                            <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html" rel="nofollow"><img
                                        alt="Mobile Nav"
                                        src="https://camo.envatousercontent.com/2a7c13469e47fb4af027b24ac4ad74949b0c4528/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6d6f62696c652d6e61762e676966"></a>
                            </p>

                            <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html#section-multipage"
                                    rel="nofollow"><img alt="Home Pages"
                                        src="https://camo.envatousercontent.com/acf8ad0b32426db66b3e992754c7c6ae07045a6e/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6d756c7469706c652d70616765732e6a7067"></a>
                            </p>

                            <p>
                                <a href="https://www.youtube.com/semicolonweb" rel="nofollow">
                                    <img alt="button"
                                        src="https://camo.envatousercontent.com/0a597e88d4b059587361aa39271805dc83e27834/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f737570706f72742d627574746f6e2f766964656f2e706e67">
                                </a>
                                <a href="http://support.semicolonweb.com/forums/" rel="nofollow">
                                    <img alt="button"
                                        src="https://camo.envatousercontent.com/45170ff72f187d1e0d93a43d7c3579c50d181512/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f737570706f72742d627574746f6e2f666f72756d2e706e67">
                                </a>
                                <a href="http://support.semicolonweb.com/canvas-html-documentation/" rel="nofollow">
                                    <img alt="button"
                                        src="https://camo.envatousercontent.com/bb5c14e556c9fc65eeaa9dcb008acfff27c2b3c5/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f737570706f72742d627574746f6e2f646f632e706e67">
                                </a>
                            </p>

                            <p>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html#section-onepage"
                                    rel="nofollow">
                                    <img alt="One Page Demos"
                                        src="https://camo.envatousercontent.com/3f193e657f849379798327f78d84fe0d8ac41745/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6f6e652d70616765732e6a7067">
                                </a>
                                <br><br>
                                <a href="http://themes.semicolonweb.com/html/canvas/rs-demos.html" rel="nofollow">
                                    <img alt="Revolution Sliders"
                                        src="https://camo.envatousercontent.com/4f70ac44b852b4b4beee63abd11c72ad1fe501af/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f7265766f6c7574696f6e2e6a7067">
                                </a>
                                <br><br>
                                <img alt="Navigations"
                                    src="https://camo.envatousercontent.com/2bdc23c28babeb26ef2fe1f024ff90fa4d98e421/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6e617669676174696f6e732d6e65772e6a7067">
                                <br><br>
                                <img alt="Features"
                                    src="https://camo.envatousercontent.com/6f19a97f9ef00ba88827fe2da124d10c1d54eeae/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f66656174757265642e6a7067">
                                <br><br>
                                <img alt="Header Layouts"
                                    src="https://camo.envatousercontent.com/f6e7fc181b8d01d54d8569b7e97ba7ec587e0c88/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f686561646572732e6a7067">
                                <br><br>
                                <a
                                    href="https://themeforest.net/item/canvas-the-multipurpose-html5-template/reviews/9228123?utf8=%E2%9C%93&amp;reviews_controls%5Bsort%5D=ratings_descending">
                                    <img alt="Reviews"
                                        src="https://camo.envatousercontent.com/553aa1352c47429edc32b45a9aca9322b7f1c4a9/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f637573746f6d65722d7265766965772e6a7067">
                                </a>
                            </p>

                            <p>
                                <a href="https://www.youtube.com/user/shank20121/videos" rel="nofollow"><img
                                        alt="Walkthrough Videos"
                                        src="https://camo.envatousercontent.com/2e238f53939f6569244de313f6e37c4c84882ab2/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f77616c6b7468726f7567682d766964656f2e6a7067"></a>
                            </p>

                            <p><img alt="\\"
                                    src="https://camo.envatousercontent.com/a6c03e1bd5dc05f16b553a3ca52e1aca841bd04b/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f726573706f6e736976652e676966">
                            </p>

                            <p><a href="http://themes.semicolonweb.com/html/canvas/index-dark.html" rel="nofollow">
                                    <img alt="\\"
                                        src="https://camo.envatousercontent.com/a2efa2fa62871845e6f52d9699f881447153a317/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6461726b2d6d6f64652e6a7067"></a>
                                <br><br><br></p>

                            <p><img alt="OnePage Options"
                                    src="https://camo.envatousercontent.com/20414ba20ce1c9b150cbca6733ea68f4ea91f0b2/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6f6e652d706167652d6f7074696f6e732e6a7067">
                            </p>

                            <p><br><br>
                                <img alt="Divider"
                                    src="https://camo.envatousercontent.com/d41eccf92081a7d8ae5f65ee34f062b5028987a3/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f646976696465722e706e67">
                                <br><br></p>

                            <p><img alt="Page Layouts"
                                    src="https://camo.envatousercontent.com/29fcd00b8b600c4ac8ef3f6961803d1efe7ac2c1/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f706167652d6c61796f7574732e6a7067">
                                <br><br><br></p>

                            <p><a href="http://themes.semicolonweb.com/html/canvas/portfolio.html" rel="nofollow"><img
                                        alt="Portfolio Styles"
                                        src="https://camo.envatousercontent.com/77661e678e44391add2b880156ee1f4ecf57b203/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f706f7274666f6c696f2d7374796c65732e6a7067"></a>
                                <br><br><br></p>

                            <p><img alt="Portfolio Layouts"
                                    src="https://camo.envatousercontent.com/22585d9769ec884fca3937571eb8a8166b39671b/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f706f7274666f6c696f2d6c61796f75742e706e67">
                            </p>

                            <p><br><br>
                                <img alt="Divider"
                                    src="https://camo.envatousercontent.com/d41eccf92081a7d8ae5f65ee34f062b5028987a3/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f646976696465722e706e67">
                                <br><br><br></p>

                            <p><img alt="Portfolio Options"
                                    src="https://camo.envatousercontent.com/21f15bbc3a68f582fd9a71e52490fda47bb1b5e5/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f706f7274666f6c696f2d6f7074696f6e732e706e67">
                                <br><br>
                                <a href="http://themes.semicolonweb.com/html/canvas/intro.html" rel="nofollow"><img
                                        alt="eCommerce Ready"
                                        src="https://camo.envatousercontent.com/44de98557e5ea14a07801305788ae8ffd4e51850/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f65636f6d6d657263652e6a7067"></a>
                            </p>

                            <p><br></p>

                            <p><img alt="Blog Layouts"
                                    src="https://camo.envatousercontent.com/5c1f287a238fb7476d072205afe410ccb2ed995a/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f626c6f672e706e67">
                            </p>

                            <p><br><br>
                                <img alt="Divider"
                                    src="https://camo.envatousercontent.com/d41eccf92081a7d8ae5f65ee34f062b5028987a3/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f646976696465722e706e67">
                                <br><br><br><br>
                            </p>
                            <h3 id="item-description__page-loaders">
                                <img alt="Loader Title"
                                    src="https://camo.envatousercontent.com/f69a75f3a18a830b814de683835c6a30e2662a2d/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f6c6f616465722d7469746c652e706e67">
                            </h3>
                            <p><img alt="Loader 1"
                                    src="https://camo.envatousercontent.com/ae247b0b0e70697e6fc12e488942d2245e2df9a5/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f312e676966"><img
                                    alt="Loader 2"
                                    src="https://camo.envatousercontent.com/1985f89c6cc1e387766b0f35903069eeb78848a6/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f322e676966"><img
                                    alt="Loader 3"
                                    src="https://camo.envatousercontent.com/7e91f5c329dfc6b4ef216597584424101d17ba51/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f332e676966"><img
                                    alt="Loader 4"
                                    src="https://camo.envatousercontent.com/285f609ef02ffd23f7efd846ad5df990c6afd6b6/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f342e676966"><img
                                    alt="Loader 5"
                                    src="https://camo.envatousercontent.com/2390883b2706a5380add27be00ab3af3be4e4e65/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f352e676966"><img
                                    alt="Loader 6"
                                    src="https://camo.envatousercontent.com/927990e0119c31cfd7000d0e4461d0b503d91ec2/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f362e676966"><img
                                    alt="Loader 7"
                                    src="https://camo.envatousercontent.com/e86498511d8f94e923d2242d5042865a8bfbe609/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f372e676966"><img
                                    alt="Loader 8"
                                    src="https://camo.envatousercontent.com/2bdb140014007e90c18b69fb4046bcdca105f0ed/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f382e676966"><img
                                    alt="Loader 9"
                                    src="https://camo.envatousercontent.com/82f1243a68a988c6c952e6c1e565b97618c5a670/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f392e676966"><img
                                    alt="Loader 10"
                                    src="https://camo.envatousercontent.com/191510d3e4b1b7f585056d6163acb28618421c2b/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f31312e676966"><img
                                    alt="Loader 11"
                                    src="https://camo.envatousercontent.com/586e56b9587d30dab746e0695d4600cb4eee0184/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f31302e676966"><img
                                    alt="Loader 12"
                                    src="https://camo.envatousercontent.com/37a2c75ae0a11cd512eca2638ae655ecb03be311/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f31322e676966"><img
                                    alt="Loader 13"
                                    src="https://camo.envatousercontent.com/9bfe630b108b1c857f90ce41e0f200b3f8d42d02/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f31332e676966"><img
                                    alt="Loader 14"
                                    src="https://camo.envatousercontent.com/7bd689e7ab94d8e93270b4122455c73c3ab67c4f/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6c6f616465722f31342e676966">
                            </p>

                            <p><br>
                                <img alt="Divider"
                                    src="https://camo.envatousercontent.com/d41eccf92081a7d8ae5f65ee34f062b5028987a3/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f646976696465722e706e67">
                                <br><br><br></p>

                            <p><img alt="Event Layouts"
                                    src="https://camo.envatousercontent.com/8c518492d5ce145a2b478667a7794d6681bb7fe4/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f6576656e742e706e67">
                            </p>

                            <p><br><br>
                                <img alt="Divider"
                                    src="https://camo.envatousercontent.com/d41eccf92081a7d8ae5f65ee34f062b5028987a3/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f646976696465722e706e67">
                                <br><br><br><br></p>

                            <p><img alt="PSD Layouts"
                                    src="https://camo.envatousercontent.com/b5c9ea41e1856fd8f83cfcd39ce7e871bf464ec8/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f707364732e6a7067">
                                <br><br><br>
                                <a href="http://support.semicolonweb.com/forums/canvas-html/" rel="nofollow"><img
                                        alt="Support"
                                        src="https://camo.envatousercontent.com/27cd83a22e7055c2b8cd6db2a16612a22cdfcfcf/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f68746d6c2f63616e7661732f737570706f72742d332e6a7067"></a>
                                <br><br></p>

                            <p><img alt="button"
                                    src="https://camo.envatousercontent.com/08c747260a9e1940e01c45afe601f8643ef63d57/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77312e706e67"><a
                                    href="https://twitter.com/__SemiColon" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/9c91e6e6c3a71f68c389136562b1c7ac87334f96/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77322e706e67"></a><a
                                    href="https://www.instagram.com/semicolonweb" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/72dd95e8d8200caaa8922e16ec03cd309d0749d4/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77332e706e67"></a><a
                                    href="https://themeforest.net/user/SemiColonWeb/follow"><img alt="button"
                                        src="https://camo.envatousercontent.com/3f78745b4ab5afbab16ebefc55c50175c45daa79/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77342e706e67"></a>
                                <br><br></p>

                            <h3 id="item-description__changelog">Updates</h3>

                            <h4 id="item-description__version-5-9-26th-april-2019">
                                <strong>Version 5.9</strong> – 26th April 2019</h4>
                            
 -->
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- fin partie description de l'article -->


            </div>

            <!-- side bar debut -->
            <div class="sidebar-l sidebar-right">
                <div class="pricebox-container">
                    <!-- debut premier card -->
                    <div class="purchase-panel">
                        <div id="purchase-form" class="purchase-form">
                            <form data-view="purchaseForm" data-google-analytics-page="itemPage"
                                data-google-analytics-payload="{&quot;actionData&quot;:null,&quot;productsArray&quot;:[{&quot;id&quot;:9228123,&quot;name&quot;:&quot;Canvas | The Multi-Purpose HTML5 Template&quot;,&quot;brand&quot;:&quot;SemiColonWeb&quot;,&quot;category&quot;:&quot;themeforest.net/category/site-templates/corporate&quot;,&quot;quantity&quot;:&quot;1&quot;}],&quot;timestamp&quot;:1566605449}"
                                action="/cart/add/9228123" accept-charset="UTF-8" method="post"><input name="utf8"
                                    type="hidden" value="✓"><input type="hidden" name="authenticity_token"
                                    value="bhj3yT9o8TrhAdeu2Xi7IulbJ6h3TXFk/rlhehCIZLo8fsm0MGkGuW+CTZSzMrPnB6phVncNGSqF6NkHNuyrpg==">
                                <div>
                                    <div data-view="itemVariantSelector">
                                        <div class="purchase-form__selection">



                                            <div class="js-purchase-heading purchase-form__price t-heading -size-xxl">
                                                <b class="t-currency"><span class="js-purchase-price">$16</span></b>
                                            </div>
                                        </div>





                                        <div class="purchase-form__support">
                                            <ul class="t-icon-list -font-size-s -icon-size-s -offset-flush">
                                                <li class="t-icon-list__item -icon-ok">
                                                    <span class="is-visually-hidden">Included:</span>
                                                    Quality checked by Envato
                                                </li>
                                                <li class="t-icon-list__item -icon-ok">
                                                    <span class="is-visually-hidden">Included:</span>
                                                    Future updates
                                                </li>

                                                <li class="t-icon-list__item -icon-ok">
                                                    <span class="is-visually-hidden">Included:</span>
                                                    6 months support from <span
                                                        class="purchase-form__author-name">SemiColonWeb</span>
                                                    <br>
                                                    <a class="t-link -decoration-reversed" data-view="modalAjax"
                                                        href="/item_support/what_is_item_support/9228123">What does
                                                        support include?</a>
                                                </li>
                                            </ul>

                                            <div class="purchase-form__upgrade">
                                                <div class="purchase-form__upgrade-checkbox">
                                                    <input type="hidden" name="support" id="support_default"
                                                        value="bundle_6month" class="js-support__default">
                                                    <input type="checkbox" name="support" id="support"
                                                        value="bundle_12month" class="js-support__option">
                                                </div>

                                                <div class="purchase-form__upgrade-info">
                                                    <label class="purchase-form__label" for="support">
                                                        Extend support to 12 months
                                                        <span
                                                            class="purchase-form__price t-heading -size-xs h-pull-right">
                                                            <b class="t-currency">
                                                                <span class="js-support__price">$4.50</span>
                                                            </b>
                                                        </span>
                                                    </label>
                                                    <p class="t-body -size-m">
                                                        <a class="js-support__pricing-link t-link -decoration-reversed"
                                                            data-view="modalAjax"
                                                            href="/item_support/pricing_modal/9228123?license=regular">
                                                            <span class="e-icon -icon-tag -flip-horizontal"></span>
                                                            Get it now and save up to <span
                                                                class="js-support__saving">$6</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="t-body -size-s"><i>Price is in US dollars. Price displayed excludes sales
                                            tax.</i></p>


                                    <div class="purchase-form__button">
                                        <button name="button" type="submit"
                                            class="js-purchase__add-to-cart e-btn--3d -color-primary -size-m -width-full">
                                            <i class="fas fa-cart-plus" style="margin-right: 0.4em"></i> <strong>Add to
                                                Cart</strong>
                                        </button>
                                    </div>

                                    <div class="purchase-form__button">
                                        <button name="buy_now_button" type="submit" value="Buy Now"
                                            class="js-purchase__buy-now e-btn--3d -size-m -width-full">
                                            <strong>Buy Now</strong>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- fin div premier card -->

                </div>

            </div>
            <!-- sidebar fin -->
            

        </div>
        
    </div>
    
</div>
</div>
<!-- fin corps page -->

<!-- debut footer -->

