
    <app-menu></app-menu>


<div class="container">
<div class="js-canvas__body canvas__body">
    <!-- partie pour ecrire le titre du produit -->
    <div class="context-header ">
        <div class="grid-container  ">
            <nav class="breadcrumbs h-text-truncate ">
                <a href="/">Home</a>


                <a href="/category/all">Files</a>

                <a href="https://themeforest.net/category/site-templates">Site Templates</a>

                <a href="https://themeforest.net/category/site-templates/corporate">Corporate</a>

            </nav>


            <div class="item-header" data-view="itemHeader">
                <div class="item-header__top">
                    <div class="item-header__title">
                        <h1 class="t-heading -color-inherit -size-l h-m0 is-hidden-phone">
                            Canvas | The Multi-Purpose HTML5 Template
                        </h1>

                     
                    </div>

                    <div class="item-header__price">
                        <a class="js-item-header__cart-button e-btn--3d -color-primary -size-m" rel="nofollow"
                            title="Add to Cart" data-view="modalAjax"
                            href="/cart/configure_before_adding/9228123?license=regular&amp;support=bundle_6month">
                            <span class="item-header__cart-button-icon">
                                <i class="e-icon -icon-cart -margin-right"></i>
                            </span>
                            <span class="t-heading -size-m -color-light -margin-none">
                                <b class="t-currency"><span class="js-item-header__price"></span></b>
                            </span>
                        </a> </div>
                </div>

            </div>



            


            <!-- Table or below Item Navigation -->
            <div class="page-tabs--dropdown" data-view="replaceItemNavsWithRemote" data-target=".js-remote">
                <div class="page-tabs--dropdown__slt-custom-wlabel">
                    <div class="slt-custom-wlabel--page-tabs--dropdown">
                        <label>
                            <span class="js-label">
                                Item Details
                            </span>
                            <span class="slt-custom-wlabel__arrow">
                                <i class="e-icon -icon-arrow-fill-down"></i>
                            </span>
                        </label>

                      
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- fin partie pour le titre du produit -->


    <!-- corps de le page -->



    
    <div class="content-main" id="content">
        <div class="grid-container">
            <link href="https://s3.envato.com/files/259916787/small-5-black.jpg">

            <div class="content-s">
                <!-- partie contenant l'image du produit -->
                <div class="box--no-padding">
                    <div class="item-preview -preview-live">
                        <a target="_blank"
                            href="https://themeforest.net/item/canvas-the-multipurpose-html5-template/full_screen_preview/9228123?_ga=2.109787781.1239153694.1566574405-28862467.1565870719">
                            <img alt="Canvas | The Multi-Purpose HTML5 Template - Corporate Site Templates"
                                srcset="https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=8000&amp;max-w=590&amp;s=fac393d69c8a21b75ab9386c1dfea8eb 590w, https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=6780&amp;max-w=500&amp;s=c69881262d674e92952fb67d7eb6e74e 500w, https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=5424&amp;max-w=400&amp;s=664b1323da9c1d700a6c38613fb85f6b 400w, https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=4068&amp;max-w=300&amp;s=85b25d93d650c349f7408526f5301ef5 300w"
                                sizes="(min-width: 1024px) 590px, (min-width: 1px) 100vw, 600px"
                                src="https://themeforest.img.customer.envatousercontent.com/files/265736259/01_preview.__large_preview.jpg?auto=compress%2Cformat&amp;q=80&amp;fit=crop&amp;crop=top&amp;max-h=8000&amp;max-w=590&amp;s=fac393d69c8a21b75ab9386c1dfea8eb">
                        </a>

                        <div class="item-preview__actions">
                            <div id="fullscreen" class="item-preview__preview-buttons">
                                <a href="/item/canvas-the-multipurpose-html5-template/full_screen_preview/9228123"
                                    role="button" class="btn-icon live-preview" target="_blank"
                                    rel="noopener nofollow">Live Preview
                                </a>
                            </div>
                            <div class="item-preview__preview-buttons--social" data-view="socialButtons">
                                <div class="btn-group">
                                    <div class="btn btn--label btn--group-item">Share</div>
                                    <a class="btn btn--group-item" data-social-network="Facebook"
                                        data-social-network-link=""
                                        href="https://www.facebook.com/sharer/sharer.php?display=popup&amp;u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharefb"><i
                                            class="e-icon -icon-facebook -size-medium -line-height-small"><span
                                                class="e-icon__alt">Facebook</span></i></a>
                                    <a class="btn btn--group-item" data-social-network="Google Plus"
                                        data-social-network-link=""
                                        href="https://plus.google.com/share?url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharegp"><i
                                            class="e-icon -icon-google-plus -size-medium -line-height-small"><span
                                                class="e-icon__alt">Google Plus</span></i></a>
                                    <a class="btn btn--group-item" data-social-network="Twitter"
                                        data-social-network-link=""
                                        href="https://twitter.com/intent/tweet?text=Check+out+%27Canvas+%7C+The+Multi-Purpose+HTML5+Template%27+on+%23EnvatoMarket+by+%40__SemiColon+%23themeforest&amp;url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharetw"><i
                                            class="e-icon -icon-twitter -size-medium -line-height-small"><span
                                                class="e-icon__alt">Twitter</span></i></a>
                                    <a class="btn btn--group-item" data-social-network="Pinterest"
                                        data-social-network-link=""
                                        href="http://pinterest.com/pin/create/button?description=Canvas+%7C+The+Multi-Purpose+HTML5+Template&amp;media=http%3A%2F%2Fs3.envato.com%2Ffiles%2F265736259%2F01_preview.__large_preview.jpg&amp;url=https%3A%2F%2Fthemeforest.net%2Fitem%2Fcanvas-the-multipurpose-html5-template%2F9228123%3Futm_source%3Dsharepi"><i
                                            class="e-icon -icon-pinterest -size-medium -line-height-small"><span
                                                class="e-icon__alt">Pinterest</span></i></a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!--  fin partie contenant l'image du produit -->

                <!-- debut pertie bouton contenant les collections -->
                <ul class="item-bookmarking" data-view="bookmarkStatesLoader">
                    <li class="item-bookmarking__control--favorite">
                        <span class="js-favorite-widget is-initialized" data-item-id="9228123">
                            <a class="js-favorite-add" title="Add to Favorites" rel="nofollow" data-method="post"
                                data-remote="true" href="/favorites?item_id=9228123">
                                <span>Add to Favorites</span>
                            </a>
                        </span>

                    </li>

                    <li class="item-bookmarking__control--collection">
                        <span class="js-collection-widget is-initialized" data-item-id="9228123">
                            <a title="Add to Collection" rel="nofollow" data-view="modal"
                                data-bind="item-collected-status:9228123" href="/bookmarks/widget?item_id=9228123">
                                <span>Add to Collection</span>
                            </a>
                        </span>

                    </li>
                </ul>
                <!-- fin partie collection -->

                <!-- debut  partie description de l'article -->
                <div class="">

                    <div class="js-item-description item-description has-toggle">
                        <div class="user-html user-html__with-lazy-load">
                            <p><a href="https://www.facebook.com/semicolonweb/" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/d89884363791370a692ce7f8f52c1851590a3028/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77352e706e67"></a><a
                                    href="https://twitter.com/__SemiColon" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/9c91e6e6c3a71f68c389136562b1c7ac87334f96/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77322e706e67"></a><a
                                    href="https://www.instagram.com/semicolonweb" rel="nofollow"><img alt="button"
                                        src="https://camo.envatousercontent.com/72dd95e8d8200caaa8922e16ec03cd309d0749d4/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77332e706e67"></a><a
                                    href="https://themeforest.net/user/SemiColonWeb/follow"><img alt="button"
                                        src="https://camo.envatousercontent.com/3f78745b4ab5afbab16ebefc55c50175c45daa79/687474703a2f2f7468656d65732e73656d69636f6c6f6e7765622e636f6d2f696d616765732f7468656d65666f726573742f666f6c6c6f772f666f6c6c6f77342e706e67"></a>
                            </p>
                            <!-- debut description de l'article -->
                            <p><strong>Canvas</strong> is a Powerful, <strong>Responsive</strong> &amp; Raw
                                Multi-Purpose Multi-Page &amp; One-Page HTML5 Template. Build whatever you like with
                                this Template. Be it Business, Corporate, Medical, SEO, Travel, Construction, Real
                                Estate, Media Agency, CoWorking, Recipes, Articles, Packers &amp; Movers, Photography,
                                News, Non-Profit, Conference, Courses, Rentals, Hosting, Gym, Music, Barber, CV/Resume,
                                Cafe, Spa, Pets, Portfolio, Agency, Magazine, Parallax, Wedding, Christmas, Restaurant,
                                Blog or App Showcase, just everything is possible with <strong>Canvas</strong>. We have
                                included 100+ ready-to-use Homepages &amp; 900+ HTML Files with the Package, it is this
                                huge. Amazing flexibility, Dark Scheme, Super Shortcodes, Raw Bootstrap &amp; Scalable
                                Responsive Features makes <strong>Canvas</strong> standout from the crowd. Try out the
                                demo.</p>
                                <!-- fin descriptio de l'article -->

                          
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- fin partie description de l'article -->


            </div>

            <!-- side bar debut -->
            <div class="sidebar-l sidebar-right">
                <div class="pricebox-container">
                    <!-- debut premier card -->
                    <div class="purchase-panel">
                        <div id="purchase-form" class="purchase-form">
                            <form data-view="purchaseForm" data-google-analytics-page="itemPage"
                                data-google-analytics-payload="{&quot;actionData&quot;:null,&quot;productsArray&quot;:[{&quot;id&quot;:9228123,&quot;name&quot;:&quot;Canvas | The Multi-Purpose HTML5 Template&quot;,&quot;brand&quot;:&quot;SemiColonWeb&quot;,&quot;category&quot;:&quot;themeforest.net/category/site-templates/corporate&quot;,&quot;quantity&quot;:&quot;1&quot;}],&quot;timestamp&quot;:1566605449}"
                                action="/cart/add/9228123" accept-charset="UTF-8" method="post"><input name="utf8"
                                    type="hidden" value="✓"><input type="hidden" name="authenticity_token"
                                    value="bhj3yT9o8TrhAdeu2Xi7IulbJ6h3TXFk/rlhehCIZLo8fsm0MGkGuW+CTZSzMrPnB6phVncNGSqF6NkHNuyrpg==">
                                <div>
                                    <div data-view="itemVariantSelector">
                                        <div class="purchase-form__selection">



                                            <div class="js-purchase-heading purchase-form__price t-heading -size-xxl">
                                                <b class="t-currency"><span class="js-purchase-price">$16</span></b>
                                            </div>
                                        </div>





                                        <div class="purchase-form__support">
                                            <ul class="t-icon-list -font-size-s -icon-size-s -offset-flush">
                                                <li class="t-icon-list__item -icon-ok">
                                                    <span class="is-visually-hidden">Included:</span>
                                                    Quality checked by Envato
                                                </li>
                                                <li class="t-icon-list__item -icon-ok">
                                                    <span class="is-visually-hidden">Included:</span>
                                                    Future updates
                                                </li>

                                                <li class="t-icon-list__item -icon-ok">
                                                    <span class="is-visually-hidden">Included:</span>
                                                    6 months support from <span
                                                        class="purchase-form__author-name">SemiColonWeb</span>
                                                    <br>
                                                    <a class="t-link -decoration-reversed" data-view="modalAjax"
                                                        href="/item_support/what_is_item_support/9228123">What does
                                                        support include?</a>
                                                </li>
                                            </ul>

                                            <div class="purchase-form__upgrade">
                                                <div class="purchase-form__upgrade-checkbox">
                                                    <input type="hidden" name="support" id="support_default"
                                                        value="bundle_6month" class="js-support__default">
                                                    <input type="checkbox" name="support" id="support"
                                                        value="bundle_12month" class="js-support__option">
                                                </div>

                                                <div class="purchase-form__upgrade-info">
                                                    <label class="purchase-form__label" for="support">
                                                        Extend support to 12 months
                                                        <span
                                                            class="purchase-form__price t-heading -size-xs h-pull-right">
                                                            <b class="t-currency">
                                                                <span class="js-support__price">$4.50</span>
                                                            </b>
                                                        </span>
                                                    </label>
                                                    <p class="t-body -size-m">
                                                        <a class="js-support__pricing-link t-link -decoration-reversed"
                                                            data-view="modalAjax"
                                                            href="/item_support/pricing_modal/9228123?license=regular">
                                                            <span class="e-icon -icon-tag -flip-horizontal"></span>
                                                            Get it now and save up to <span
                                                                class="js-support__saving">$6</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="t-body -size-s"><i>Price is in US dollars. Price displayed excludes sales
                                            tax.</i></p>


                                    <div class="purchase-form__button">
                                        <button name="button" type="submit"
                                            class="js-purchase__add-to-cart e-btn--3d -color-primary -size-m -width-full">
                                            <i class="fas fa-cart-plus" style="margin-right: 0.4em"></i> <strong>Add to
                                                Cart</strong>
                                        </button>
                                    </div>

                                    <div class="purchase-form__button">
                                        <button name="buy_now_button" type="submit" value="Buy Now"
                                            class="js-purchase__buy-now e-btn--3d -size-m -width-full">
                                            <strong routerLink = "/client">Buy Now</strong>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- fin div premier card -->

                </div>

            </div>
            <!-- sidebar fin -->
            

        </div>
        
    </div>
    
</div>
</div>
<!-- fin corps page -->
<!-- <app-footer></app-footer> -->
<!-- debut footer -->

