.large{
    
        width: 100%;
        /* padding-right: 15px;
        padding-left: 15px; */
        margin-right: auto;
        margin-left: auto;
        display: block;
        position: relative;
    
}

.grid-container {
    
    max-width: 64rem;
    
    padding-left: 0.625rem;
    
    padding-right: 0.625rem;
    margin-left: auto;
    margin-right: auto;
}
.breadcrumbs {
    -webkit-font-smoothing: antialiased;
    
    margin: 0 0 8px 0;
}
.h-text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
link {
    display: none;
}
.content-s {
    float: left;
    width: 616px;
}
.box--no-padding {
    background-color: #fafafa;
    color: #666666;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
}
.item-preview {
    min-height: 245px;
    padding: 12px;
    position: relative;
    text-align: center;
}
.item-preview.-preview-live>a, .item-preview.-preview-screenshot>a {
    position: relative;
    display: inline-block;
    max-width: 100%;
}
.item-preview img {
    height: auto;
}
.item-preview {
    min-height: 245px;
    padding: 12px;
    position: relative;
    text-align: center;
}
.item-preview__preview-buttons {
    padding-top: 12px;
    display: inline-block;
}
.item-preview__preview-buttons>a {
    margin: 0 10px 10px 0;
}
.btn-icon.live-preview:after {
    background-image: url(https://public-assets.envato-static.com/assets/generated_sprites/common-14f8bc6….png);
    background-position: 0px -137px;
}
.item-preview__preview-buttons--social {
    display: inline-block;
}
.item-preview__preview-buttons--social .btn {
    line-height: 1.6;
}
.item-preview__preview-buttons--social .btn {
    line-height: 1.6;
}

.btn--group-item {
    border-radius: 0;
    padding: 5px 10px;
    margin-right: 1px;
}
.e-icon:before {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    display: inline-block;
}
.btn, button, [role=button], [type=submit] {
    -webkit-font-smoothing: antialiased;
  
    box-sizing: border-box;
    background-color: gray;
    border: none;
    
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    
    margin: 0;
    
    text-align: center;
    text-decoration: none;
}
.e-icon.-line-height-small {
    line-height: 0.9;
}
.e-icon__alt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.btn--group-item {
    border-radius: 0;
    padding: 5px 10px;
    margin-right: 1px;
}
.item-bookmarking__control--favorite:first-of-type, .item-bookmarking__control--collection:first-of-type {
    margin-right: 5%;
}

.item-bookmarking__control--favorite>span, .item-bookmarking__control--collection>span {
    display: block;
    overflow: auto;
}
.item-bookmarking__control--favorite a, .item-bookmarking__control--collection a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: #e0e0e0;
    color: #666666;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    padding: 5px 10px 5px 36px;
    border-radius: 4px;
    line-height: 30px;
    overflow: hidden;
}
.item-bookmarking__control--favorite a:before {
    content: "";
}
.item-bookmarking__control--favorite, .item-bookmarking__control--collection {
    width: 47.5%;
    max-width: 200px;
}
.item-bookmarking__control--favorite a:before, .item-bookmarking__control--collection a:before {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 18px;
    line-height: 40px;
}
.item-bookmarking {
    
    display: flex;
    
    flex-direction: row;
    
    justify-content: center;
    list-style: none;
    margin: 0 0 20px 0;
    overflow: auto;
}
.e-icon.-size-medium {
    font-size: 20px;
}
.item-header {
    width: 100%;
}
.breadcrumbs a {
    position: relative;
    color: #666666;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
}
.breadcrumbs a:after {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    content: "";
    display: inline-block;
    font-size: 9px;
    color: #bababa;
    margin: 0 4px 0 8px;
    cursor: default;
}
.color_menu_3{
    background-color: #f5f5f5;
    border-bottom: 1px solid #e1e8ed;
    width: 100%;
    
}

.context-header {
    background: #fafafa;
    border-bottom: 1px solid #e1e8ed;
    padding-top: 8px;
    color: #454545;
}
.content-main {
    
    height: 100%;
    padding: 16px 0 32px;
    position: relative;
}


.item-header__top {
    
    display: flex;
  
    align-items: flex-start;
    margin-bottom: 1em;
}
.header__title {
    
    flex: 1 0;
}
.t-heading.-color-inherit {
    color: inherit;
}
.item-header__price {
    display: none;
}
.e-btn--3d.-color-primary {
    -webkit-box-shadow: 0 2px 0 #6f9a37;
    box-shadow: 0 2px 0 #6f9a37;
    position: relative;
}

.item-header__cart-button-icon {
    position: relative;
    top: -2px;
}
.item-bookmarking__control--favorite>span, .item-bookmarking__control--collection>span {
    display: block;
    overflow: auto;
}

.item-bookmarking__control--favorite a, .item-bookmarking__control--collection a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: #e0e0e0;
    color: #666666;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    padding: 5px 10px 5px 36px;
    border-radius: 4px;
    line-height: 30px;
    overflow: hidden;
}

.item-bookmarking__control--favorite a:before, .item-bookmarking__control--collection a:before {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 18px;
    line-height: 40px;
}