<app-menu></app-menu>
<br>
<section class="container">
    <div class="row">
        <div class="col-sm-8 border ">

            <header class="e-fieldset__header -divider-bottom">
                <div class="e-fieldset__title">
                    <h3 class="t-heading -size-s h-m0">
                        Billing Details

                    </h3>
                    <div class="e-fieldset__subtitle">
                        <p class="t-body -size-m h-m0">
                            We do not sell your details or share them without your permission. Read more in our <a
                                target="_blank" href="https://envato.com/privacy">privacy policy</a>.
                        </p>

                    </div>
                </div>
            </header>
            <form class="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nom</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Prenom</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <footer class="e-fieldset__footer">
                    <input type="submit" name="commit" value="Save and continue" class="button e-btn--3d -color-primary"
                        data-disable-with="Saving...">
                </footer>
            </form>
            <br>
            <div class="col-sm-12" data-view="paymentMethod">

                <div class="e-fieldset  is-disabled">

                    <header class="e-fieldset__header ">
                        <div class="e-fieldset__title">
                            <h3 class="t-heading -size-s h-m0">2-Choisissez votre mode de paiement</h3>
                        </div>
                    </header>
                </div>
                <div class="e-fieldset  is-disabled">

                        <header class="e-fieldset__header ">
                            <div class="e-fieldset__title">
                                <h3 class="t-heading -size-s h-m0">3-Choisissez votre de livraison</h3>
                            </div>
                        </header>
                    </div>
            </div>

        </div>
        <div class="col-sm-4">
            <section class="bg-white color-default -pbxl -rad -shad -ofy-a">
                <div class="hdr -plm -prm -ptl -pbl -flex -vh-center"><span class="text-uppercase -pan -mrxxs">Votre
                        commande</span> <span class="-pan">(3 articles)</span></div>
                <div class="sum brdt -fs-13 -scroll-format">
                    <div class="prod_sum brdb -pts -pbs -plm -prm">
                        <div class="col-s -mts"><img width="60" height="60" class="lazy image -loaded"
                                src="https://sn.jumia.is/ktnV7InEbW33-BwCPL5YGiEAiEg=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/32/079/1.jpg?0028"
                                data-src="https://sn.jumia.is/ktnV7InEbW33-BwCPL5YGiEAiEg=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/32/079/1.jpg?0028"
                                alt="Réfrigérateur 2 Portes 145 Litres - Classe A+ - Gris - Garantie 1 an"
                                title="Réfrigérateur 2 Portes 145 Litres - Classe A+ - Gris - Garantie 1 an"
                                data-placeholder="placeholder_xs_1.jpg"></div>
                        <div class="col-l -mts"><span class="-ellipsis-2">Réfrigérateur 2 Portes 145 Litres - Classe A+
                                - Gris - Garantie 1 an</span> <span class="-mts color-primary"><span dir="ltr"
                                    data-price="132900">132&nbsp;900&nbsp;</span> <span
                                    data-currency-iso="XOF">FCFA</span> </span>
                            <div class="-mts"><span class="color-default-800">Qté:</span>&nbsp;1</div>
                        </div>
                    </div>
                    <div class="prod_sum brdb -pts -pbs -plm -prm">
                        <div class="col-s -mts"><img width="60" height="60" class="lazy image -loaded"
                                src="https://sn.jumia.is/x5taq5E64RLWM6budHNWJRBZNFo=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/12/2512/1.jpg?6654"
                                data-src="https://sn.jumia.is/x5taq5E64RLWM6budHNWJRBZNFo=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/12/2512/1.jpg?6654"
                                alt="Téléviseur LED 32 pouces HD Ready-Economie d'énergie-Rising RS-J32A20"
                                title="Téléviseur LED 32 pouces HD Ready-Economie d'énergie-Rising RS-J32A20"
                                data-placeholder="placeholder_xs_1.jpg"></div>
                        <div class="col-l -mts"><span class="-ellipsis-2">Téléviseur LED 32 pouces HD Ready-Economie
                                d'énergie-Rising RS-J32A20</span> <span class="-mts color-primary"><span dir="ltr"
                                    data-price="67900">67&nbsp;900&nbsp;</span> <span
                                    data-currency-iso="XOF">FCFA</span> </span>
                            <div class="-mts"><span class="color-default-800">Qté:</span>&nbsp;1</div>
                        </div>
                    </div>
                    <div class="prod_sum brdb -pts -pbs -plm -prm">
                        <div class="col-s -mts"><img width="60" height="60" class="lazy image -loaded"
                                src="https://sn.jumia.is/ZvAcmF-g1RH8zf80vd_JaEGx3XE=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/31/861/1.jpg?4124"
                                data-src="https://sn.jumia.is/ZvAcmF-g1RH8zf80vd_JaEGx3XE=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/31/861/1.jpg?4124"
                                alt="Tee-Shirt Homme - Col V - Bleu + Casquette Rouge - 100 % Coton"
                                title="Tee-Shirt Homme - Col V - Bleu + Casquette Rouge - 100 % Coton"
                                data-placeholder="placeholder_xs_1.jpg"></div>
                        <div class="col-l -mts"><span class="-ellipsis-2">Tee-Shirt Homme - Col V - Bleu + Casquette
                                Rouge - 100 % Coton</span> <span class="-mts color-primary"><span dir="ltr"
                                    data-price="8000">8&nbsp;000&nbsp;</span> <span data-currency-iso="XOF">FCFA</span>
                            </span>
                            <div class="-mts"><span class="color-default-800">Qté:</span>&nbsp;1</div>
                        </div>
                    </div>
                </div>
                <div class="osh-resume -mtxl -plm -prm">
                    <div class="ft-subtotal color-default -pbm price_row "><span class="price_col-desc">Sous-total
                        </span> <span class="price_col-value"><span dir="ltr"
                                data-price="208800">208&nbsp;800&nbsp;</span> <span data-currency-iso="XOF">FCFA</span>
                        </span><span class="price_col-value not_applicable-box -b color-primary -hidden"></span></div>
                    <div class="cart-rules js-cart-rules ft-price-cart-rules"></div>
                    <div class="total ft-total brdt -ptl color-default -fwm"> Total <div
                            class="total-value color-primary -fs-17"><span dir="ltr"
                                data-price="208800">208&nbsp;800&nbsp;</span> <span data-currency-iso="XOF">FCFA</span>
                        </div>
                        <div class="not_applicable-box color-primary -fs-17 -hidden"></div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</section>