
<section class="" >
  
    <app-menu></app-menu>


</section>
<div class="row color_menu_3" >
    <div class="col-md-1 offset-md-0"></div>
    <div class="col-md-10 offset-md-0 color_grid">
      <div class="div_bar_search">
        <form action="">
          <div class="div_bar_search_1">

              <input type="search" class="Vd9D9" style="border-radius:2px 0 0 2px" placeholder="Search within these results" autocomplete="off" autocapitalize="off" autocorrect="off" aria-label="search" name="term" value="" data-test-selector="autosuggest">
              <button class="_2O-ZB" style="border-radius:0 2px 2px 0">
                <span class="_2MKh_">Search</span>
                <!-- <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="20" width="20" viewBox="0 0 512 512" class="_1PQSW" style="vertical-align:middle"> -->
                  <title>Search</title>
                  <!-- <g> -->
                    <!-- <path d="M507.5 469.3c0 10.5-3.8 19.5-11.5 27.2s-16.7 11.5-27.2 11.5c-10.9 0-20-3.8-27.2-11.5l-103.7-103.4c-36.1 25-76.3 37.5-120.6 37.5-28.8 0-56.4-5.6-82.7-16.8s-49-26.3-68-45.3-34.2-41.7-45.3-68c-11.2-26.3-16.8-53.9-16.8-82.7s5.6-56.4 16.8-82.7 26.3-49 45.3-68 41.7-34.2 68-45.3c26.3-11.2 53.9-16.8 82.7-16.8s56.4 5.6 82.7 16.8c26.3 11.2 49 26.3 68 45.3s34.2 41.7 45.3 68c11.2 26.3 16.8 53.9 16.8 82.7 0 44.3-12.5 84.5-37.5 120.6l103.7 103.7c7.5 7.5 11.2 16.5 11.2 27.2zm-154.8-251.5c0-37.3-13.2-69.2-39.8-95.7-26.5-26.5-58.4-39.8-95.7-39.8s-69.2 13.3-95.7 39.8-39.8 58.4-39.8 95.7 13.2 69.2 39.8 95.7c26.5 26.5 58.4 39.8 95.7 39.8s69.2-13.2 95.7-39.8c26.6-26.5 39.8-58.4 39.8-95.7z"></path> -->
                  <!-- </g> -->
                  <!-- </svg> -->
                </button>





          </div>
        </form>
      </div>
    </div>

    <div class="col-md-1 offset-md-0"></div>
  </div>

  
  