<section class="container-fluid">
    <app-menu-admin></app-menu-admin>

</section>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-4">
            <div _ngcontent-mui-c1="" class="div_bar_search"><br _ngcontent-mui-c1=""><br _ngcontent-mui-c1="">
                <form _ngcontent-mui-c1="" action="">
                    <div _ngcontent-mui-c1="" class="div_bar_search_1"><input _ngcontent-mui-c1="" aria-label="search"
                            autocapitalize="off" autocomplete="off" autocorrect="off" class="Vd9D9"
                            data-test-selector="autosuggest" name="term"
                            placeholder="chercher un produit,une marque ou des accessoires"
                            style="border-radius:2px 0 0 2px" type="search" value=""><button _ngcontent-mui-c1=""
                            class="_2O-ZB" style="border-radius:0 2px 2px 0"><span _ngcontent-mui-c1=""
                                class="_2MKh_">Search</span>
                            <title _ngcontent-mui-c1="">Search</title>
                        </button></div>
                </form>
                
            </div>

        </div>


    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-3">
            <app-menu-left-admin></app-menu-left-admin>
        </div>
        <br>
        <div class="col-sm-9">
            <h2><div>Liste des categories</div></h2>
            <div class="col-sm-8 offset-sm-8"> <button class="add_categorie">ajouter une cateorie</button></div>
            <div class="col-sm-12 offset-sm-1">
                <br><br>
                    <table class="table table-bordered">
                        
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Libelle</th>
                                <th scope="col">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td class="collapsing"> <div class="btn-group"><button class="add_categorie">voir</button></div>
                                    <div class="btn-group"><button class="add_categorie">voir</button></div>
                                    <div class="btn-group"><button class="add_categorie">voir</button></div></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                
                                
                              </tr>
                            </tbody>
                          </table>
            </div>
        </div>

    </div>

</div>